@use './modules/bases';
@use './modules/variables' as *;
@use './modules/mixins' as *;




.header-page {

    background-image: url("/images/desktop/image-hero.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: $xl-space;


    .header-page__nav {
        @include flex-layout(space-between, center);
        height: 150px;
        margin-bottom: $lg-space;
    }

    .header-page__links {
        @include flex-layout(space-between, center);
        gap: $md-space;
    }

    .header-page__link {
        position: relative;
        color: $white;
    }

    .header-page__link::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        width: 0%;
        height: 3px;
        background-color: $white;
        margin-top: 10px;
        transition: 0.3s ease;
    }

    .header-page__link--hover:hover::before {
        width: 40%;
    }

    .header-page__title {
        width: 60%;
        color: $white;
        padding: 0.8em;
        border: 3px solid $white;
        overflow-wrap: break-word;
    }

    .header__toggleBtn {
        background-color: transparent;
        border: none;
        display: none;
    }

    @media screen and (max-width: 48rem) {
        & {
            background-image: url("/images/mobile/image-hero.jpg");
        }

        .header-page__links {
            display: none;
        }

        .header__toggleBtn {
            display: block;
        }

        .header-page__title {
            width: unset;
            font-size: 2.5em;
        }
    }

    @media screen and (max-width: 320px) {
        .header-page__title {
            width: unset;
            font-size: 2em;
        }
    }
}






main {
    margin-bottom: $xl-space;
}









.leader {
    margin-bottom: $xl-space;
    position: relative;

    .leader__description {
        background-color: $white;
        padding: $lg-space;
        width: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
    }

    .leader__title {
        margin-bottom: 0.6em;
        color: $black;
    }

    .leader__text {
        color: $grey-200
    }

    @media screen and (max-width: 48rem) {
        .leader__title {
            font-size: 2em;
        }
        .leader__image {
            margin-bottom: $lg-space;
            display: block;
        }

        .leader__image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .leader__description {
            position: unset;
            inset: auto;
            padding: 0;
            width: unset;
            text-align: center
        }
    }
}













.creations {

    .creations__header {
        @include flex-layout(space-between, center);
        margin-bottom: $lg-space;
    }

    .creations__action-button {
        border: 2px solid $black;
        padding: 8px $md-space;
        color: $black;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 5px;
        transition: 0.3s ease;
    }

    .creations__action-button--hover:hover {
        background-color: $black;
        color: $white;
    }

    .creations__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $md-space;
    }

    .creations__wrapper-card {
        display: block;
        position: relative;
        color: $white;
        overflow: hidden;
    }

    .creations__image img {
        transition: 0.3s ease;
    }

    .creations__wrapper-card--hover:hover img {
        opacity: 0.4;
    }

    .creations__wrapper-card--hover:hover .creations__wrapper-card-content {
        color: $black;
        background: none;
    }


    .creations__wrapper-card-content {
        position: absolute;
        top: 0;
        left: 0;
        // bottom: 0;
        padding: $md-space;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

        @include flex-layout(baseline, end);
    }

    .creation__action-btn-mobile {
        display: none;
    }


    @media screen and (max-width: 1080px) {
        .creations__wrapper {
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: $lg-space;
        }
    }

    @media screen and (max-width: 48rem) {
        .creations__wrapper {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: $lg-space;
        }
    }

    @media screen and (max-width: 40rem) {
        .creations__header {
            flex-direction: column;
        }
        
        .creations__title {
            text-align: center;
            font-size: 2em;
        }

        .creations__action-button {
            display: none;
        }

        .creations__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }

        .creations__wrapper-card {
            width: 100%;
            height: 100%;
        }

        .creations__wrapper-card-content h2 {
            font-size: 1.8em;
        }

        .creations__image img {
            width: 100%;
            height: 100%;
        }

        .creations__wrapper-card-content {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
            padding: 0.8em;
        }

        .creation__action-btn-mobile {
            display: block;
            width: 50%;
            margin-inline: auto;
        }

        .creation__action-btn-mobile {
            display: block;
            width: 50%;
            margin-inline: auto;
            text-align: center;
        }
    }

    @media screen and (max-width: 375px) {
        .creations__wrapper-card-content h2 {
            font-size: 1.8em;
        }
    }

    @media screen and (max-width: 375px) {
        .creation__action-btn-mobile {
            text-align: start;
        }

        .creations__wrapper-card-content h2 {
            font-size: 1.5em;
        }
    }
}















.footer {
    background-color: $black;
    color: $white;
    padding: $md-space 0;

    .container {
        @include flex-layout(space-between, center);
    }

    .footer__logo {
        display: block;
        margin-bottom: $sm-space;
    }

    .footer__nav-links {
        @include flex-layout(baseline, center);
        gap: $md-space;
    }

    .footer__nav-link {
        color: $white;
        position: relative;
    }

    .footer__social-link {
        position: relative;
    }


    .footer__social-links {
        margin-bottom: 1.5em;
        @include flex-layout(baseline, center);
        gap: $sm-space;
    }

    .footer__mention {
        color: $grey-200;
        margin-bottom: $sm-space;
    }



    .footer__nav-link::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 0%;
        height: 3px;
        background-color: $white;
        left: 50%;
        transform: translate(-50%);
        margin-top: 10px;
        transition: 0.3s ease;
    }

    .footer__nav-links-item--hover:hover::before {
        width: 40%;
    }


    .footer__social-link::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 0%;
        height: 3px;
        background-color: $white;
        left: 50%;
        transform: translate(-50%);
        margin-top: 5px;
        transition: 0.3s ease;
    }

    .footer__social-link--hover:hover::before {
        width: 100%;
    }

    @media screen and (max-width: 48rem) {
        .container,
        .footer__nav-links {
            flex-direction: column;
            flex-wrap: wrap;
        }

        .footer__nav {
            margin-bottom: $lg-space;
        }

        .footer__social-links {
            justify-content: center;
            margin-bottom: $sm-space;
        }
    }
}















.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 1000;
    padding: 3em 1.5em;
    display: none;
    visibility: hidden;

    header {
        @include flex-layout(space-between, center);
        margin-bottom: $xl-space;
    }

    .closeBtn {
        background-color: transparent;
        border: none;
    }

    ul li {
        margin-bottom: $sm-space;
    }

    ul li a {
        font-size: 2em;
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        color: $white;
    }

    &.show {
        display: block;
        visibility: visible;
    }
}







// .attribution { 
//     font-size: 11px; 
//     text-align: center; 
// }
// .attribution a {
//      color: hsl(228, 45%, 44%); 
// }